*.egg-info/
build/
dist/
wandb/

results/
**/__pycache__/
*__pycache__*
checkpoints/
old_checkpoints/
checkpoints*/
simclr_checkpoints*/
debug_imgs/
._*
sbatch_out/
sbatch_err/
**/._*.py
**/*.DS_Store

*.png
**/.ipynb_checkpoints/*
**/*.pkl
